input {
    outline: none;
}

.kucity {
    z-index: 10000000;
}

.right-content-container {
    display: flex;
    flex-direction: column;
    padding:20px 30px 50px 20px;
}

.right-content-container > .item {
    display: flex;
    margin-top:4px;
    margin-bottom:4px;
}

.right-content-container > .item > div:nth-of-type(1) {
    width:150px;
    text-align: center;
    min-height:40px;
    line-height:40px;
    font-size: 2rem;
    color:#333;
}

.name.item div:nth-of-type(2) input{
    height:40px;
    line-height:40px;
    width:250px;
    font-size:1.5rem;
    border:none;
    border-bottom:1px solid rgba(7, 17, 27, .3);
}

.time.item > .gameTime {
    display: flex;
    height:40px;
    line-height: 40px;
}

.time.item > .gameTime > input:nth-of-type(1) {
    display: block;
    height:40px;
    margin-right:20px;
    line-height:40px;
    font-size:1.5rem;
    border:none;
    border-bottom:1px solid rgba(7, 17, 27, .3);
}

.time.item > .gameTime > input:nth-of-type(2) {
    display: block;
    height:40px;
    font-size:1.5rem;
    margin-left:20px;
    line-height:40px;
    border:none;
    border-bottom:1px solid rgba(7, 17, 27, .3);
}

.application.item > .applicationTime {
    display: flex;
    height:40px;
    line-height: 40px;
}

.application.item > .applicationTime > input:nth-of-type(1) {
    display: block;
    height:40px;
    margin-right:20px;
    line-height:40px;
    font-size:1.5rem;
    border:none;
    border-bottom:1px solid rgba(7, 17, 27, .3);
}

.application.item > .applicationTime > input:nth-of-type(2) {
    display: block;
    height:40px;
    font-size:1.5rem;
    margin-left:20px;
    line-height:40px;
    border:none;
    border-bottom:1px solid rgba(7, 17, 27, .3);
}

.position.item select{
    margin-right:10px;
}

.createGameContainer {
    width: 100%;
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#stage {
    height:40px;
    line-height:40px;
    width:250px;
    font-size:1.5rem;
    border:none;
    border-bottom:1px solid rgba(7, 17, 27, .3);
}

.createGame {
    height:50px;
    width:120px;
    line-height:50px;
    text-align: center;
    background:rgb(131, 175, 155, .7);
    cursor: pointer;
    font-size:2rem;
    border-radius:5px;
    color:white;
}

.createGame:hover {
    background:rgba(131, 175, 155, 1);
}

.limit.item .item-box .box{
   height:50px;
}

.limit.item .item-box .box .title {
    height:20px;
    line-height:20px;
    font-size:1.5rem;
}

#sonTypeContainer {
    width:800px;
    overflow-x:auto;
    min-height:0px;
    border:1px solid rgba(7, 17, 27, .3);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: flex-start;
    align-items: flex-start;
}

#sonTypeContainer .sLevel{
   display: flex;
   flex-wrap: wrap;
   flex:1;
   border-left:1px solid rgba(7, 17, 27, .3);
}

#sonTypeContainer .sLevel .sValue {
    width:100%;
    height:40px;
    line-height:40px;
    border-bottom:1px solid rgba(7, 17, 27, .3);
    border-right:1px solid rgba(7, 17, 27, .3);
    font-size:20px;
}

#sonTypeContainer .tLevel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sonTypeContainer .tValue {
    width:100%;
    height:30px;
    line-height:30px;
    font-size:18px;
    border-right:1px solid rgba(7, 17, 27, .3);
    border-bottom:1px solid rgba(7, 17, 27, .3);
}



#sonTypeContainer .fLevel {
    flex:1;
    white-space: normal;
    text-align:center;
    font-size:16px;
    border-right:1px solid rgba(7, 17, 27, .3);   
}

#createGame {
    width:100px;
    height:60px;
    background:rgba(131, 175, 155, 0.6);
    line-height:60px;
    text-align:center;
    font-size:18px;
    color:white;
    border-radius: 5px;
    margin:20px auto;
    cursor: pointer;
}

#createGame:hover {
     background:rgba(131, 175, 155, 1);
}

#gameBeginTimeCalendar {
    margin-left:420px;
    margin-top:130px;
}

#gameEndTimeCalendar {
    margin-left:650px;
    margin-top:130px;
}

#applicationBeginTimeCalendar {
    margin-left:420px;
    margin-top:227px;
}

#applicationEndTimeCalendar {
    margin-left:650px;
    margin-top:227px;
}

